<div class="form-group">
    <label class="col-sm-3 control-label">Users Created from</label>
    <div class="col-sm-9">
        <input type="text" name="s_date_r"  class="form-control parsley-validated datepicker" value="{{ s_date_r }}" data-required="true" >
        
    </div>
</div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
    <label class="col-sm-3 control-label">Users Created to</label>
    <div class="col-sm-9">
        <input type="text" name="e_date_r"  class="form-control parsley-validated datepicker" value="{{ e_date_r }}" data-required="true" >
        
    </div>
</div>
<div class="line line-dashed b-b line-lg pull-in"></div>

<div class="form-group">
    <label class="col-sm-3 control-label">User Profile</label>
    <div class="col-sm-9">
        <select name="role_id_r"  class="chosen-select form-control">
        <option value="all">All</option>
        {% for role in roles %}
            <option value="{{ role['role_id'] }}">{{ role['name'] }}</option>
        {% endfor %}
      </select>
    </div>
</div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
    <label class="col-sm-3 control-label">Status</label>
    <div class="col-sm-9">
        <select name="status_r"  class="chosen-select form-control">
        <option value="all">All</option>
        {% for status in users_status %}
        	<option value="{{ status }}">{{ prepare_status(status)|raw }}</option>
        {% endfor %}
      </select>
    </div>
</div>

{% if not is_municipal_user %}
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
    <label class="col-sm-3 control-label">Municipal</label>
    <div class="col-sm-9">
        <select name="municipal_id_r"  class="chosen-select form-control">
        <option value="all">All</option>
        {% for municipal in municipals %}
        	<option value="{{ municipal['municipal_id'] }}">{{ municipal['municipal_name'] }}</option>
        {% endfor %}
      </select>
    </div>
</div>
{% endif %}

<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
    <label class="col-sm-3 control-label">Created By</label>
    <div class="col-sm-9">
        <select name="created_by_r"  class="chosen-select form-control">
        <option value="all">All</option>
        {% for maker in makers %}
            <option value="{{ maker['user_id'] }}">{{ maker['full_name'] }}</option>
        {% endfor %}
      </select>
    </div>
</div>
<div class="line line-dashed b-b line-lg pull-in"></div>
<div class="form-group">
    <label class="col-sm-3 control-label">Authorised By</label>
    <div class="col-sm-9">
        <select name="authorised_by_r"  class="chosen-select form-control">
        <option value="all">All</option>
        {% for checker in checkers %}
            <option value="{{ checker['user_id'] }}">{{ checker['full_name'] }}</option>
        {% endfor %}
      </select>
    </div>
</div>