<header class="header bg-light lter clearfix b-b b-light">
	{% if editable %}
		{% if has_permission('edit vault card') %}
			<a href="{{ site_url('en/cards/save/' ~ card['card_id']) }}" onclick="parent.closeFancyboxAndRedirectToUrl('{{ site_url('en/cards/save/' ~ card['card_id']) }}');" class="btn btn-sm btn-success"><i class="i i-pencil"></i> Edit</a>
		{% endif %}
	{% endif %}
	{% if action_btns %}
		
	{% endif %}
	{% if unauthorized %}
        <div class="pull-right" style="margin-top:10px;">
          {% if activity_key == "edit" %}
          {{ modal_btn('Authorize', "btn btn-primary btn-sm", "fa fa-check", "en/cards/confirm/cards/committ/" ~ card['card_id'] ~ "/" ~ activity_id) }}
          {% else %} 
          {{ modal_btn('Authorize', "btn btn-primary btn-sm", "fa fa-check", "en/cards/confirm/cards/authorize/" ~ card['card_id'] ~ "/" ~ activity_id) }}
          {% endif %}
          &nbsp;
          {{ modal_btn('Reject', "btn btn-danger btn-sm", "fa fa-times", "en/activity/reject_form/" ~ activity_id) }}
        </div>
    {% endif %}
</header>
<section class="vbox bg-white">
	<section class="scrollable wrapper-lg" style="height:90%;">
		<div class="row">
			<div class="col-md-12">
				
				<ul class="nav nav-pills nav-stacked">
					
					<li class="bg-light"><a href="#"><strong>Supervisor: </strong>&nbsp;{{ card['supervisor'] }} </a>
					</li>
					<li class="bg-light"><a href="#"><strong>Vault A/C:</strong> &nbsp;{{ card['account_no'] }}</a>
					</li>
					<li class="bg-light"><a href="#"><strong>Card No:</strong> &nbsp;{{ card['card_no'] }}</a>
					</li>
					
				</ul>
			</div>
		</div>
		<div class="line b-b m-t m-b"></div>

		<div class="wrapper m-b">
			<div class="row m-b">
				<div class="col-xs-6"> <small>Created By</small>
					<div class="text-lt font-bold">{{ card['created_by']|upper }}</div>
				</div>
				<div class="col-xs-6"> <small>Date Created</small>
					<div class="text-lt font-bold">{{ prepare_date(card['created']) }}</div>
				</div>
			</div>
			{% if not unauthorised %}
				{% if card['authorised_by'] %}
					<div class="row m-b">
						<div class="col-xs-6"> <small>Authorised By</small>
							<div class="text-lt font-bold">{{ card['authorised_by']|upper }}</div>
						</div>
						<div class="col-xs-6"> <small>Date Authorised</small>
							<div class="text-lt font-bold">{{ prepare_date(card['authorised']) }}</div>
						</div>
					</div>
				{% endif %}
			{% endif %}
			{% if rejected %}
				<div class="row m-b">
					<div class="col-xs-6"> <small>Rejected By</small>
						<div class="text-lt font-bold">{{ card['rejected_by']|upper }}</div>
					</div>
					<div class="col-xs-6"> <small>Date Rejected</small>
						<div class="text-lt font-bold">{{ prepare_date(card['rejected']) }}</div>
					</div>
				</div>
			{% endif %}
		</div>
	</section>
</section>

