<section class="panel panel-default">
  <header class="panel-heading"> {{ tb_title|upper }} </header>
  <table class="table table-striped m-b-none">
    
    <tbody>
    {% for key, row in table_data %}
      <tr>
        <td>{{ lang(key) }}</td>
        {% if key == 'narration' %}
          <td><strong>{{ prepare_narration(row)|raw }}</strong></td>
        {% elseif key == 'file_status' %}
          <td>{{ prepare_status(row)|raw }}</td>
        {% else %}
          <td><strong>{{ row }}</strong></td>
        {% endif %}
      </tr>

    {% endfor %}
    </tbody>
  </table>
</section>