<header class="header clearfix bg b-b b-light">
	<form method="post" action="#">
		<div class="input-group m-t-sm" style="width: 100%;">
			<input id="search-cats" type="text" class="input-sm form-control" style="width: 100%;" placeholder="Search"> <span class="input-group-btn">  </span>
		</div>
	</form>
</header>
<section class="scrollable hover">
	<div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none cats-inner">
		<ul class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none" id="category-list" >
			{% for field in groups %}
				<li>
					{% if field['link'] %}
					<a href="#" style="border-bottom: none;" id="{{ site_url(field['link']) }}" class="list-group-item load-content-ajax"> {{ field['value'] | upper }} </a>
					{% else %}
					<a href="#">{{ field['value'] | upper }}</a>
					{% endif %}
				</li>
			{% endfor %}
		</ul>

	</div>
</section>

<script>
	jQuery(document).ready(function(){
		load_profile('#final');
	});//end
</script>
<script src="{{ base_url() }}admin/js/domsearch.js"></script>
<script src="{{ base_url() }}admin/js/liquidMetal.js"></script>
<script>
	$(function(){
		$('#search-cats').domsearch('#category-list');
	});
</script>