<header class="header bg-light lter clearfix b-b b-light">
	{% if editable %}
		{% if has_permission('edit municipal account') %}
			<a href="{{ site_url("en/account/save/" ~ account['account_id']) }}" onclick="parent.closeFancyboxAndRedirectToUrl('{{ site_url("en/account/save/" ~ account['account_id'])}}');" class="btn btn-sm btn-success"><i class="i i-pencil"></i> Edit</a>
		{% endif %}
	{% endif %}
	
	{% if unauthorized %}
        <div class="pull-right" style="margin-top:10px;">
          {% if activity_key == "edit" %}
          {{ modal_btn('Authorize', "btn btn-primary btn-sm", "fa fa-check", "en/account/confirm/account/committ/" ~ account['account_id'] ~ "/" ~ activity_id) }}
          {% else %} 
          {{ modal_btn('Authorize', "btn btn-primary btn-sm", "fa fa-check", "en/account/confirm/account/authorize/" ~ account['account_id'] ~ "/" ~ activity_id) }}
          {% endif %}
          &nbsp;
          {{ modal_btn('Reject', "btn btn-danger btn-sm", "fa fa-times", "en/activity/reject_form/" ~ activity_id) }}
        </div>
    {% endif %}
</header>
<section class="scrollable hover bg-white">
	<section class="wrapper-lg">
		
		{% include "includes/table.html.twig" %}

		<div class="line b-b m-t m-b"></div>

		<div class="wrapper m-b">
			<div class="row m-b">
				<div class="col-xs-6"> <small>Created By</small>
					<div class="text-lt font-bold">{{ account['created_by']|upper }}</div>
				</div>
				<div class="col-xs-6"> <small>Date Created</small>
					<div class="text-lt font-bold">{{ prepare_date(account['created']) }}</div>
				</div>
			</div>
			{% if not unauthorised %}
				<div class="row m-b">
					<div class="col-xs-6"> <small>Authorised By</small>
						<div class="text-lt font-bold">{{ account['authorised_by']|upper }}</div>
					</div>
					<div class="col-xs-6"> <small>Date Authorised</small>
						<div class="text-lt font-bold">{{ prepare_date(account['authorised']) }}</div>
					</div>
				</div>
			{% endif %}
			{% if rejected %}
				<div class="row m-b">
					<div class="col-xs-6"> <small>Rejected By</small>
						<div class="text-lt font-bold">{{ account['rejected_by']|upper }}</div>
					</div>
					<div class="col-xs-6"> <small>Date Rejected</small>
						<div class="text-lt font-bold">{{ prepare_date(account['rejected']) }}</div>
					</div>
				</div>
			{% endif %}
		</div>
		
	</section>
</section>