<header class="header bg-light lter clearfix b-b b-light">
	{% if editable %}
		{% if pos_teller %}
			{% if has_permission('edit pos teller') %}
				<a href="{{ site_url('en/teller/save/' ~ user['teller_id']) }}" onclick="parent.closeFancyboxAndRedirectToUrl('{{ site_url('en/teller/save/' ~ user['teller_id']) }}');" class="btn btn-sm btn-success"><i class="i i-pencil"></i> Edit</a>
			{% endif %}
		{% else %}
			{% if has_permission('edit user') %}
				<a href="{{ site_url('en/user/save/' ~ user['user_id']) }}" onclick="parent.closeFancyboxAndRedirectToUrl('{{ site_url("en/user/save/" ~ user['user_id']) }}');" class="btn btn-sm btn-success"><i class="i i-pencil"></i> Edit</a>
			{% endif %}
		{% endif %}
	{% endif %}
	{% if action_btns %}
		{% if has_permission('block user') %}
			{{ (blocked) ? modal_btn('Unblock','btn btn-primary btn-sm','fa fa-unlock',block_url) : modal_btn('Block','btn btn-danger btn-sm','fa fa-lock',block_url) }}
		{% endif %}
		{% if has_permission('reset user') %}
			{{ modal_btn('Reset', 'btn btn-warning btn-sm', 'fa fa-mail-forward',reset_url) }}
		{% endif %}
	{% endif %}
	{% if unauthorized %}
		{% if pos_teller %}
			<div class="pull-right" style="margin-top:10px;">
	          {% if activity_key == "edit" %}
	          {{ modal_btn('Authorize', "btn btn-primary btn-sm", "fa fa-check", "en/teller/confirm/teller/committ/" ~ user['teller_id'] ~ "/" ~ activity_id) }}
	          {% else %} 
	          {{ modal_btn('Authorize', "btn btn-primary btn-sm", "fa fa-check", "en/teller/confirm/teller/authorize/" ~ user['teller_id'] ~ "/" ~ activity_id) }}
	          {% endif %}
	          &nbsp;
	          {{ modal_btn('Reject', "btn btn-danger btn-sm", "fa fa-times", "en/activity/reject_form/" ~ activity_id) }}
	        </div>
		{% else %}
	        <div class="pull-right" style="margin-top:10px;">
	          {% if activity_key == "edit" %}
	          {{ modal_btn('Authorize', "btn btn-primary btn-sm", "fa fa-check", "en/user/confirm/user/committ/" ~ user['user_id'] ~ "/" ~ activity_id) }}
	          {% elseif activity_key == "block" %}
	          {{ modal_btn('Authorize', "btn btn-primary btn-sm", "fa fa-check", "en/user/confirm/user/unblock_committ/" ~ user['user_id'] ~ "/" ~ activity_id) }}
	          {% else %} 
	          {{ modal_btn('Authorize', "btn btn-primary btn-sm", "fa fa-check", "en/user/confirm/user/authorize/" ~ user['user_id'] ~ "/" ~ activity_id) }}
	          {% endif %}
	          &nbsp;
	          {{ modal_btn('Reject', "btn btn-danger btn-sm", "fa fa-times", "en/activity/reject_form/" ~ activity_id) }}
	        </div>
    	{% endif %}
    {% endif %}
</header>
<section class="vbox bg-white">
	<section class="scrollable wrapper-lg" style="height:90%;">
		<div class="row">
			<div class="col-md-12">
				<h4 class="font-bold m-b-none m-t-none">{{ user['full_name']|upper }}</h4>
				<p></p>
				<p><i class="fa fa-lg fa-circle-o text-primary m-r-sm"></i><strong>{{ user['profile']|upper }} Profile</strong>
				</p>
				<ul class="nav nav-pills nav-stacked">
					{% if pos_teller %}
						<li class="bg-light"><a href="#"><strong>Teller A/C: </strong>&nbsp;{{  user['teller_account'] }} </a>
						</li>
						<li class="bg-light"><a href="#"><strong>Card Number:</strong> &nbsp;{{  user['card_no'] }}</a>
						</li>
					{% endif %}
					<li class="bg-light"><a href="#"><strong>Mobile: </strong>&nbsp;{{  user['mobile'] }} </a>
					</li>
					<li class="bg-light"><a href="#"><strong>Email:</strong> &nbsp;{{  user['email'] }}</a>
					</li>
					<li class="bg-light"><a href="#"><strong>Municipal:</strong> &nbsp;{{  check_municipal(user['municipal_name']) }}</a>
					</li>
					<li class="bg-light"><a href="#"><strong>Address:</strong> &nbsp;{{ user['address']|upper }} </a>
					</li>
					
				</ul>
				{% if signature %}
					{% set image_src = set_sign_path(signature['sign_file']) %}
					{% include "includes/image.html.twig" %}
				{% endif %}
			</div>
		</div>
		<div class="line b-b m-t m-b"></div>

		<div class="wrapper m-b">
			<div class="row m-b">
				<div class="col-xs-6"> <small>Created By</small>
					<div class="text-lt font-bold">{{ user['created_by']|upper }}</div>
				</div>
				<div class="col-xs-6"> <small>Date Created</small>
					<div class="text-lt font-bold">{{ prepare_date(user['created']) }}</div>
				</div>
			</div>
			{% if not unauthorised %}
				{% if user['authorised_by'] %}
					<div class="row m-b">
						<div class="col-xs-6"> <small>Authorised By</small>
							<div class="text-lt font-bold">{{ user['authorised_by']|upper }}</div>
						</div>
						<div class="col-xs-6"> <small>Date Authorised</small>
							<div class="text-lt font-bold">{{ prepare_date(user['authorised']) }}</div>
						</div>
					</div>
				{% endif %}
			{% endif %}
			{% if rejected %}
				<div class="row m-b">
					<div class="col-xs-6"> <small>Rejected By</small>
						<div class="text-lt font-bold">{{ user['rejected_by']|upper }}</div>
					</div>
					<div class="col-xs-6"> <small>Date Rejected</small>
						<div class="text-lt font-bold">{{ prepare_date(user['rejected']) }}</div>
					</div>
				</div>
			{% endif %}
		</div>
	</section>
</section>

