<header class="header bg-light lter clearfix b-b b-light">

    <div class="pull-right" style="margin-top:10px;">
      {{ modal_btn('Authorize', "btn btn-primary btn-sm", "fa fa-check", "en/referal/confirm/referal/authorize/" ~ referal['referal_id']) }}
      &nbsp;
      {{ modal_btn('Reject', "btn btn-danger btn-sm", "fa fa-times", "en/referal/reject_form/" ~ referal['referal_id']) }}
    </div>
</header>
<section class="scrollable hover bg-white">
	<section class="wrapper-lg">
		<div class="row">
			<div class="col-md-6">
				
			</div>
			<div class="col-md-6">
				<ul class="nav nav-pills nav-stacked">
					
					<li class="bg-light"><a href="#"><strong>Amount: </strong>&nbsp;{{  referal['amount'] }} </a>
					</li>
					<li class="bg-light"><a href="#"><strong>Narration:</strong> &nbsp;{{  prepare_narration(referal['narration']) }}</a>
					</li>
					
				</ul>
			</div>
		</div>
		<div class="line b-b m-t m-b"></div>
		<div class="row">
		{% if referal['debit_account'] %}
			<div class="col-sm-6">
				<section class="panel panel-default">
				  <header class="panel-heading"> DEBIT ACCOUNT DETAILS </header>
				  <table class="table table-striped m-b-none">
				    
				    <tbody>
				    {% for key, row in referal['debit_account'] %}
				      <tr>
				        <td>{{ lang(key) }}</td>
				        <td><strong>{{ row }}</strong></td>
				      </tr>

				    {% endfor %}
				    </tbody>
				  </table>
				</section>
			</div>
		{% endif %}
		{% if referal['credit_account'] %}
			<div class="col-sm-6">
				<section class="panel panel-default">
				  <header class="panel-heading"> CREDIT ACCOUNT DETAILS </header>
				  <table class="table table-striped m-b-none">
				    
				    <tbody>
				    {% for key, row in referal['credit_account'] %}
				      <tr>
				        <td>{{ lang(key) }}</td>
				        <td><strong>{{ row }}</strong></td>
				      </tr>

				    {% endfor %}
				    </tbody>
				  </table>
				</section>
			</div>
		{% endif %}
	</div>

		<div class="line b-b m-t m-b"></div>

		<div class="wrapper m-b">
			<!--<div class="row m-b">
				<div class="col-xs-6"> <small>Requested By</small>
					<div class="text-lt font-bold">{{ referal['teller_name']|upper }}</div>
				</div>
				<div class="col-xs-6"> <small>Date Requested</small>
					<div class="text-lt font-bold">{{ prepare_date(referal['created']) }}</div>
				</div>
			</div>-->
			{% if referal['authorised_by'] %}
				<div class="row m-b">
					<div class="col-xs-6"> <small>Authorised By</small>
						<div class="text-lt font-bold">{{ referal['authorised_by']|upper }}</div>
					</div>
					<div class="col-xs-6"> <small>Date Authorised</small>
						<div class="text-lt font-bold">{{ prepare_date(referal['authorised']) }}</div>
					</div>
				</div>
			{% endif %}
			
		</div>
		
	</section>
</section>