<div class="line line-dashed b-b line-lg pull-in"></div>
                        <section class="scrollable">
                          
                            <div class="table-responsive border-fl" style="margin-bottom:10px;">
                            <table class="table table-striped m-b-none" id="normal_merchant_services">
                            <header class="panel-heading border-btm"> <strong>Assign Signatories</strong> </header>
                              <thead>
                                <tr>
                                  <th width="20"><label class="checkbox m-n i-checks">
                                      
                                      <i></i></label>
                                  </th>
                                  <th>Category A</th>
                                  <th width="20"><label class="checkbox m-n i-checks">
                                      
                                      <i></i></label>
                                  </th>
                                  <th>Category B</th>
                                </tr>
                              </thead>
                              
                              <tbody>
                                {% for signatory in signatories %}
                                  <tr>
                                    
                                    <td><label class="checkbox m-n i-checks">
                                        <input type="checkbox" name="category_a[]" 
                                        value="{{ signatory['user_id'] }}"
                                        {% if saved_signatories %}
                                          {% for saved in saved_signatories %}
                                            {% if signatory['user_id'] == saved['user_id'] and saved['category'] == 'A' %}
                                              {{ set_checkbox("category_a", signatory['user_id'], TRUE)
                                              }}
                                            {% else %}
                                              {{ set_checkbox("category_a", signatory['user_id'])
                                              }}
                                            {% endif %}
                                          {% endfor %}
                                        {% else %}
                                        {{ set_checkbox("category_a", signatory['user_id'])
                                          }}
                                        {% endif %}
                                        />
                                        <i></i></label></td>  
                                    <td class = "service">{{ signatory['full_name']|title }}</td> 
                                    
                                    <td><label class="checkbox m-n i-checks">
                                        <input type="checkbox" name="category_b[]" 
                                        value="{{ signatory['user_id'] }}"
                                      {% if saved_signatories %}
                                          {% for saved in saved_signatories %}
                                            {% if signatory['user_id'] == saved['user_id'] and saved['category'] == 'B' %}
                                              {{ set_checkbox("category_b", signatory['user_id'], TRUE)
                                              }}
                                            {% else %}
                                              {{ set_checkbox("category_b", signatory['user_id'])
                                              }}
                                            {% endif %}
                                          {% endfor %}
                                        {% else %}
                                        {{ set_checkbox("category_b", signatory['user_id'])
                                          }}
                                        {% endif %}
                                        />
                                        <i></i></label></td>  
                                    <td class = "service">{{ signatory['full_name']|title }}</td> 
                                      
                                  </tr>
                                {% endfor %}
                                 
                              </tbody>
                              
                            </table>
                          </div>
                    </section>