<section class="panel panel-default">
  {% if reports %}
    <header class="panel-heading"> 
      <div class='row'>
        <div class="col-sm-10">
          <strong>{{ report_title|raw }}</strong> 
        </div>
        <div class="col-sm-2">
          <div class="btn-group pull-right">
              <button type="button" class="btn btn-sm btn-primary" title="Download" data-toggle="dropdown"><i class="fa fa-download"></i> &nbsp;&nbsp;Download <span class="caret"></span></button>
              
              <ul class="dropdown-menu">
                <li><a href="{{ site_url('en/reports/download/excel') }}">Excel</a></li>
                <li><a href="#">PDF</a></li>
              </ul>
              
          </div>
        </div>
      </div>
      </header>
  {% else %}
    <header class="panel-heading"> <strong>{{ lang(table_title) }}</strong> <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i> </header>
  {% endif %}
  <div class="table-responsive">
    <table class="table table-striped m-b-none" 
   {% if not tb_static %} data-ride="datatables" {% endif %} id="my-datatable" >
      <thead>
        <tr>
          {% for field in columns %}
              <th>{{ lang(field)|title }}</th>
          {% endfor %}
          {{ (action_btn) ? '<th>Action</th>' }}
        </tr>
      </thead>
      <tbody>
        {% for data in rows %}
          
          <tr 
          {% if table_title == "transc_transfer" or table_title == "transc_bills" or table_title == "archived_transfer" or table_title == "archived_bills" %} 
            class = "delegated-popup-btn clickable" data-toggle="modal" data-target="#myModal" 
              id="{{ site_url('en/transactions/view/' ~ data['narration'] ~ '/' ~ data['transc_id'] ~ '/' ~ table_title) }}"
          {% endif %}
          >
            {% for field in columns %}
              {% if field == 'message' or field == 'account' or field == 'category_a' or field == 'category_b' %}
                <td>{{ data[field]|raw }}</td>
              {% elseif field == 'created' or field == 'authorised' or field == 'rejected' or field == 'reg_date' or field == 'rejected_date' %}
                <td>{{ prepare_date(data[field]) }}</td>
              {% elseif field == 'user_status' or field == 'status' or field == 'cheque_type' %}
                <td>{{ prepare_status(data[field])|raw }}</td>
              {% elseif field == 'approval_1' or field == 'approval_2' %}
                <td>{{ check_category(data[field])|raw }}</td>
              {% elseif field == 'narration' %}
                <td>{{ prepare_narration(data[field])|raw }}</td>
              {% elseif field == 'municipal_name' %}
                <td>{{ check_municipal(data[field]) }}</td>
              {% elseif field == 'payment_status' %}
                <td>{{ is_paid_cheque(data[field])|raw }}</td>
              {% elseif field == 'teller_limit' %}
                <td>{{ number_format(data[field]) }}</td>
              {% elseif field == 'amount' %}
                <td>{{ number_format(data[field]) }}</td>
              {% else %}
                <td>{{ data[field] }}</td>
              {% endif %}
            {% endfor %}
            {% if action_btn %}
              {% if table_title == 'tb_user_profiles' %}
                <td>
                  <a  href="{{ site_url('en/role/view/' ~ data['role_id']) }}" class="fancybox  btn btn-xs btn-default" data-fancybox-type="iframe"><i class="fa fa-eye"></i>&nbsp;&nbsp; View</a>&nbsp;
                  <a  href="{{ site_url('en/role/save/' ~ data['role_id']) }}" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i>&nbsp;&nbsp; Edit</a>
                  {{ modal_btn('Disable', 'btn btn-default btn-xs', 'fa fa-times', 'en/role/confirm/role/disable/' ~ data['role_id']) }}
                </td>
              {% elseif table_title == 'municipal_accounts' %}
              <td>
                <a  href="{{ site_url('en/account/save/' ~ data['account_id']) }}" class="btn btn-xs btn-default" ><i class="fa fa-edit"></i></a>
              </td>
              {% elseif table_title == 'tb_pending_cheques' %}
              <td id ="{{ "chq" ~ data['cheque_no'] }}">
                <a href="#" id="{{ data['cheque_no'] }}" class="btn btn-xs btn-primary" onclick="authorize(this)"><i class="fa  fa-check-square-o"></i></a> 
                {{ modal_btn('', "btn btn-danger btn-xs", "fa fa-times", "en/cheque/reject_form/" ~ data['cheque_no'], false, true) }}
              </td>
              {% elseif table_title == 'tb_users' %}
                <td>
                  <a  href="{{ site_url('en/user/view/' ~ data['user_id']) }}" class="fancyboxfull  btn btn-xs btn-default" data-fancybox-type="iframe"><i class="fa fa-eye"></i>&nbsp;&nbsp; View</a>&nbsp;
                  <a  href="{{ site_url('en/user/save/' ~ data['user_id']) }}" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i>&nbsp;&nbsp; Edit</a>
                </td>
              {% elseif table_title == 'tb_tellers' %}
                <td>
                  <a  href="{{ site_url('en/teller/view/' ~ data['teller_id']) }}" class="fancybox  btn btn-xs btn-default" data-fancybox-type="iframe"><i class="fa fa-eye"></i>&nbsp;&nbsp; View</a>&nbsp;
                  <a  href="{{ site_url('en/teller/save/' ~ data['teller_id']) }}" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i>&nbsp;&nbsp; Edit</a>
                </td>
              {% elseif table_title == 'tb_vault_cards' %}
                <td>
                  {{ modal_btn('Remove', "btn btn-default btn-xs", "fa fa-times", "en/cards/confirm/cards/remove/" ~ data['card_id'], true, true) }}
                </td>
              {% elseif table_title == 'tb_commission_accounts' %}
                <td>
                  {{ modal_btn('Remove', "btn btn-default btn-xs", "fa fa-times", "en/commission_account/confirm/commission_account/remove/" ~ data['commission_id'], true, true) }}
                </td>
              {% elseif table_title == 'tb_pending_referals' %}
                  <td>
                    <a  href="{{ site_url('en/referal/view/' ~ data['referal_id']) }}" class="fancybox activity-box btn btn-xs btn-default" data-fancybox-type="iframe"><i class="fa fa-eye"></i>&nbsp;&nbsp; View</a>
                  </td>
              {% elseif table_title == 'tb_blocked_cards' %}
                <td>
                  {{ modal_btn('Unblock', "btn btn-primary btn-xs", "fa fa-unlock", "en/cards/confirm/cards/unblock/" ~ data['card_no']) }}
                </td>
              {% elseif table_title == 'tb_pos_assignment' %}
                <td>
                  {{ modal_btn('Remove', "btn btn-default btn-xs", "fa fa-times", "en/assignment/confirm/assignment/remove/" ~ data['assignment_id'], true, true) }}
                </td>
              {% elseif table_title == 'tb_uploaded_files' %}
                <td>
                  {% if has_download_btn(data['status']) %}
                  <a href="{{ site_url("en/cheque/download_failed/" ~ data['upload_id']) }}" class="btn btn-default btn-xs" ><i class="fa fa-download" ></i>&nbsp;Download Failed</a>
                  {% endif %}
                </td>
              {% elseif table_title == 'tb_pending_activities' %}
                {% if is_settings_edit(data['activity_key']) %}
                  <td>
                    {{ modal_btn('', "btn btn-primary btn-xs", "fa fa-check", "en/settings/confirm/settings/committ/" ~ data['content_id'] ~ "/" ~ data['activity_id'], false) }}
                  &nbsp;
                  {{ modal_btn('', "btn btn-danger btn-xs", "fa fa-times", "en/activity/reject_form/" ~ data['activity_id'], false) }}
                  </td>
                {% elseif is_card_unblocking(data['activity_key']) %}
                  <td>
                    {{ modal_btn('', "btn btn-primary btn-xs", "fa fa-check", "en/cards/confirm/cards/unblock_committ/" ~ data['content_id'] ~ "/" ~ data['activity_id'], false) }}
                    &nbsp;
                    {{ modal_btn('', "btn btn-danger btn-xs", "fa fa-times", "en/activity/reject_form/" ~ data['activity_id'], false) }}
                  </td>
                {% elseif is_commission_account(data['activity_key']) %}
                  <td>
                    {{ modal_btn('', "btn btn-primary btn-xs", "fa fa-check", "en/commission_account/confirm/commission_account/authorize/" ~ data['content_id'] ~ "/" ~ data['activity_id'], false) }}
                    &nbsp;
                    {{ modal_btn('', "btn btn-danger btn-xs", "fa fa-times", "en/activity/reject_form/" ~ data['activity_id'], false) }}
                  </td>
                {% else %}
                  <td>
                    <a  href="{{ site_url('en/' ~ data['uri'] ~ '/' ~ data['content_id'] ~ '/' ~ data['activity_id']) }}" class="fancybox activity-box btn btn-xs btn-default" data-fancybox-type="iframe"><i class="fa fa-eye"></i>&nbsp;&nbsp; View</a>
                  </td>
                {% endif %}
              {% elseif table_title == 'tb_rejected_referals' %}
                <td>
                  {% set id = data['referal_id'] %}
                  {% set reason = data['rejection_comment'] %}
                  <a href="#{{ id }}" class="btn btn-default btn-xs" data-toggle="modal"><i class="fa fa-comments-o"></i>&nbsp;&nbsp;Reasons</a>
                  {% include "includes/reason_failed.html.twig" %}
                </td>
              {% elseif table_title == 'tb_failed_cheques' %}
                <td>
                  {% set id = data['cheque_id'] %}
                  {% set reason = data['rejection_comment'] %}
                  <a href="#{{ id }}" class="btn btn-default btn-xs" data-toggle="modal"><i class="fa fa-comments-o"></i>&nbsp;&nbsp;Reasons</a>
                  {% include "includes/reason_failed.html.twig" %}
                </td>
              {% elseif table_title == 'tb_authorized_activities' %}

                <td>
                  <a  href="{{ site_url('en/' ~ data['uri'] ~ '/' ~ data['content_id'] ~ '/' ~ data['activity_id']) }}" class="fancybox btn btn-xs btn-default" data-fancybox-type="iframe"><i class="fa fa-eye"></i>&nbsp;&nbsp; View</a>
                </td>
              {% elseif table_title == 'tb_failed_activities' %}
                <td>
                  <a  href="{{ site_url('en/' ~ data['uri'] ~ '/' ~ data['content_id'] ~ '/' ~ data['activity_id']) }}" class="fancybox btn btn-xs btn-default" data-fancybox-type="iframe"><i class="fa fa-eye"></i>&nbsp;&nbsp; View</a>
                  {% set id = data['activity_id'] %}
                  {% set reason = data['comment'] %}
                  <a href="#{{ id }}" class="btn btn-default btn-xs" data-toggle="modal"><i class="fa fa-comments-o"></i>&nbsp;&nbsp;Reasons</a>
                  {% include "includes/reason_failed.html.twig" %}
                </td>
              {% endif %}
            {% endif %}
          </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</section>



