{% extends "./includes/_layout.html.twig" %}

{% block title %} {{ title }} {% endblock %}


{% block main %}

    <header class="header bg-white b-b clearfix">
        <div class="row m-t-sm">
            <div class="col-sm-8 m-b-xs"> 
                <h5 style="font-weight:bold;">{{ title }}</h5>
            </div>
        </div>
    </header>
  <section class="scrollable wrapper w-f">
    <section class="panel panel-default" style="border: none;">
      <div class="col-sm-8" style="margin-left: 17%;">
            {{ error|raw }}
            <form class="form-horizontal" method="post" action="{{ (card['card_id']) ? site_url('en/cards/save/' ~ card['card_id']) : site_url('en/cards/save') }}" data-validate="parsley">
                <section class="panel panel-default">
                    <header class="panel-heading"> {{ page_title }} <strong></strong> 
                    </header>
                    <div class="panel-body">
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Vault A/C</label>
                            <div class="col-sm-9">
                                <input type="text" value="{{ set_value('account_no', card['account_no']) }}" name="account_no"  class="form-control parsley-validated"  data-required="true" placeholder="0152036328000">
                                
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Card Number</label>
                            <div class="col-sm-9">
                                <input type="text" value="{{ set_value('card_no', card['card_no']) }}" name="card_no"  class="form-control parsley-validated"  data-required="true" placeholder="5370293171049993">
                                
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div class="form-group branch" >
                            <label class="col-sm-3 control-label">Supervisor</label>
                            <div class="col-sm-9">
                              <select name="user_id"  style="width:100%" class="chosen-select form-control" >
                                <option value="">--Select One--</option>
                                {% for s in supervisors %}
                                    <option value="{{ s['user_id'] }}" 
                                    {% if s['user_id'] == card['user_id'] %}
                                    {{ set_select('user_id', card['user_id'], TRUE) }}
                                    {% else %}
                                    {{ set_select('user_id', s['user_id']) }}
                                    {% endif %}
                                    >{{ s['full_name'] }}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                        
                         
                    </div>
                    <footer class="panel-footer text-right bg-light lter">
                        <button type="submit" class="btn btn-primary btn-s-xs">Submit</button>
                    </footer>
                </section>
            </form>
        </div>
    </section>
</section>
{% endblock %}
