<div class="modal-content"> 
    <div class="modal-header"> 

        <h4 class="modal-title">{{ title }}</h4> 
    </div> 
<form action="{{ site_url(url) }}" method="post"  id="reject-form" class="form-horizontal" data-validate="parsley">
    <div class="modal-body"> 
            {% if cheque_rejection %}
               <div class="form-group">
                    <div class="col-sm-12">
                        {{ error|raw }}
                        <select name="comment_predefined" id="predefined"  class="chosen-select form-control parsley-validated" data-required="true">
                            <option value="">--Select rejection Reason--</option>
                            {% for reason in rejection_reasons %}
                                <option value="{{ reason['descrption'] }}">{{ reason['descrption'] }}</option>
                            {% endfor %}
                                <option value ="other">OTHER</option>
                      </select>
                    </div>
                </div> 
                <div class="form-group" id="comment" style="display:none;">
                
                    <div class="col-sm-12">
                         <textarea class="form-control" name="comment" style="height:200px;"></textarea>
                    </div>
                </div>        
            {% else %}
                <div class="form-group">
                    
                    <div class="col-sm-12">
                        {{ error|raw }}

                         <textarea class="form-control" name="comment" style="height:200px;"></textarea>
                        
                    </div>
                </div>
            {% endif %}
        
    </div> 
    <div class="modal-footer"> 
        <button type="submit" href="#" class="btn btn-primary" >Save</button>
        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a> 
    </div> 
</form>
</div>
<!-- /.modal-content -->
<script>
$(document).ready(function(){
    submitAjax('#reject-form','.modal-dialog');
    $('#predefined').on('change', function(){
        value = $('#predefined :selected').val();
        if(value == 'other'){
            $('#comment').slideDown();
        }else{
            $('#comment').slideUp();
        }
    });//end on
});
</script> 